.zone-editor__svg {
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  margin: 10px auto;

  .polygon {
    fill: var(--chakra-colors-teal-100); /* Subtle blue with transparency */
    fill-opacity: 0.5;
    stroke: var(--chakra-colors-teal-500);
    stroke-width: 2;
    transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
  }

  .circle {
    fill: var(--chakra-colors-teal-500);
    stroke: white;
    stroke-width: 1.5;
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
    /* Remove 'r' from here */
  }

  .circle.selected {
    fill: var(--chakra-colors-teal-800); /* Softer red for selected points */
    /* Remove 'r' from here */
  }

  .circle.hovered {
    fill: var(--chakra-colors-teal-600); /* Softer yellow for hovered points */
    /* Remove 'r' from here */
  }
}
